/* I used one style sheet for all three pages.  I think this makes it simpler especially because
they all share the same header and footer. */

/* setting the font-family and zeroing the margins and padding for all elements */
body { 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-image: url("../images/white-waves.png");
}

/* This heading size gets a separate font according to specs */
h1, h2 { 
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    margin: 0 25px;
    padding: 20px 10px 20px 0;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
}

#name {
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    width: 25%;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

header {
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    margin: 0 auto 0 auto;
    width: 960px;
    height: 76px;
}

/* making a list with no bullets */
ul { 
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

/* the only way I could get to work to push the links to the top right, but I'm sure there's a better way */
li { 
    float: right;
}

/* this allows you to click the entirety of the a element */
li a { 
    display: block; 
    padding: 30px 10px;
    color: #777777;
    text-decoration: none;
}

/* change color when the mouse hovers over the link */
li a:hover { 
    background-color: #cccccc;
}

section {
    width: 960px;
    clear: both;
    margin: 30px auto 90px auto;
    background-color: #ffffff;
}

#aboutMe {
    margin: 0 25px;
    padding: 20px 10px 20px 0;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
}

#profile {
    width: 200px;
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* coloring and spacing text in the p elements and in the form */
form, #about { 
    line-height: 2;
    margin: 0 25px;
    padding-bottom: 20px;
    color: #777777;
}

input {
    width: 908px;
    height: 20px;
    border: 1px solid #cccccc;
}

/* making the text area bigger, and removing the resize thing in the corner */
textarea { 
    width: 908px;
    height: 200px;
    resize: none;
    border: 1px solid #cccccc;
}

/* styling the form button to match the page */
button { 
    border: none;
    color: #ffffff;
    margin-bottom: 10px;
    background-color: #4aaaa5;
    width: 150px;
    height: 50px;
    font-size: 1.0em;
}

/* changing color of the button on hover */
button:hover { 
    background-color: #2e706d;
}

.container {
    overflow: auto;
    display: inline-block;
    position: relative;
}

.portfolio {
    display: inline-block;
    margin: 30px 25px;
}

img.portfolio {
    width: 300px;
    height: 200px;
}
/* placing the link button over the picture. */
.portfolioLink { 
    position: absolute;
    width: 300px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0 25px;
    left: 0;
    top: 67%;
    text-align: center;
    text-decoration: none;
    padding: 15px 0px;
}

a.portfolioLink:hover {
    background-color: #2e706d;
}

footer {
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    padding: 30px 30px 5px 30px;
    text-align: center;
    font-size: 0.6em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

